version: '3.8'
services:
  db:
    image: postgres:17-alpine
    container_name: postgres_container
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: event_management_db
      PGDATA: /data/postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres:/data/postgres
    networks:
      - webapi-network
    restart: unless-stopped

volumes:
  postgres:

networks:
  webapi-network:
    driver: bridge